<html>
    <head>
        <title>Visualizing Response Times</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="vendor/jquery.avgrund/style/avgrund.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed|Open+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="header">
            <div class="nav-right">
                <button class="create-new-entity">Add</button>
            </div>
        </div>
        <div class="container"></div>

        <!-- Underscore Templates -->
        <script type="text/template" id="response-entity-template">
            <div class="orbiter-container"></div>
            <div class="orbiter"></div>
            <h2 class="entity-title"><%= title %></h2>
            <p class="entity-subtitle"><%= responseTime %>ms</p>
        </script>

        <script type="text/template" id="response-entity-edit-template">
            <div class="modal">
                <label for="entity-title">Entity Label</label>
                <input id="entity-title" data-model-attr="title" type="text" value="<%= title %>" placeholder="ex. Heroku" />

                <label for="entity-url">URL</label>
                <input id="entity-url" data-model-attr="url" type="text" value="<%= url %>" placeholder="https://status.heroku.com" />
                
                <button id="entity-edit-save">Save</button>
                <% if (!newEntity) { %>
                <button id="entity-edit-delete">Delete</button>
                <% } %>
                <button id="entity-edit-cancel">Cancel</button>
            </div>
        </script>

        <!-- Vendor Dependencies -->
        <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="vendor/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="vendor/backbone/backbone.js"></script>
        <script type="text/javascript" src="vendor/backbone.localStorage/backbone.localStorage.js"></script>
        <script type="text/javascript" src="vendor/jquery.avgrund/jquery.avgrund.js"></script>

        <!-- App -->
        <script type="text/javascript" src="js/app.namespace.js"></script>
        <script type="text/javascript" src="js/app.router.js"></script>
        <script type="text/javascript" src="js/app.configs.js"></script>

        <!-- Utils -->
        <script type="text/javascript" src="js/utils/utils.requestAnimationFramePolyfill.js"></script>
        <script type="text/javascript" src="js/utils/utils.hsv2rgb.js"></script>

        <!-- Models -->
        <script type="text/javascript" src="js/models/response.entity.model.js"></script>

        <!-- Collections -->
        <script type="text/javascript" src="js/collections/response.entity.collection.js"></script>        

        <!-- Views -->
        <script type="text/javascript" src="js/views/response.view.js"></script>
        <script type="text/javascript" src="js/views/header.view.js"></script>
        <script type="text/javascript" src="js/views/app.view.js"></script>

        <!-- Startup -->
        <script type="text/javascript" src="js/app.startup.js"></script>
    </body>
</html>