<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mocha Spec Runner</title>
    <link rel="stylesheet" href="../vendor/mocha/mocha.css">
    <style>
       .ui-dialog{display:none !important;}
       .container{display:none;}
    </style>
</head>
<body>
    <div id="mocha"></div>
    <div class="container"></div>

    <!-- Underscore Templates -->
    <script type="text/template" id="response-entity-template">
        <div class="orbiter-container"></div>
        <div class="orbiter"></div>
        <h2 class="entity-title"><%= title %></h2>
        <p class="entity-subtitle"><%= responseTime %>ms</p>
    </script>

    <script type="text/template" id="response-entity-edit-template">
        <div class="modal">
            <label for="entity-title"><% if (newEntity) {%>New <% } %>Entity Label</label>
            <input id="entity-title" data-model-attr="title" type="text" value="<%= title %>" placeholder="ex. Heroku" />

            <label for="entity-url">URL</label>
            <input id="entity-url" data-model-attr="url" type="text" value="<%= url %>" placeholder="https://status.heroku.com" />
            
            <button id="entity-edit-save">Save</button>
            <% if (!newEntity) { %>
            <button id="entity-edit-delete">Delete</button>
            <% } %>
            <button id="entity-edit-cancel">Cancel</button>
        </div>
    </script>

    <script src="../vendor/mocha/mocha.js"></script>
    <script>mocha.setup('bdd')</script>
    <script src="../vendor/chai/chai.js"></script>
    <script>var expect = chai.expect</script>
    <script src="../vendor/sinon-chai/lib/sinon-chai.js"></script>
    <script src="../vendor/sinon/lib/sinon.js"></script>
    <script src="../vendor/sinon/lib/sinon/spy.js"></script>
    <script src="../vendor/sinon/lib/sinon/stub.js"></script>
    <script src="../vendor/sinon/lib/sinon/mock.js"></script>
    <script src="../vendor/sinon/lib/sinon/collection.js"></script>
    <script src="../vendor/sinon/lib/sinon/assert.js"></script>
    <script src="../vendor/sinon/lib/sinon/sandbox.js"></script>
    <script src="../vendor/sinon/lib/sinon/test.js"></script>
    <script src="../vendor/sinon/lib/sinon/test_case.js"></script>
    <script src="../vendor/sinon/lib/sinon/assert.js"></script>
    <script src="../vendor/sinon/lib/sinon/match.js"></script>
    
    <!-- Vendor Dependencies -->
    <script type="text/javascript" src="../vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../vendor/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="../vendor/backbone/backbone.js"></script>
    <script type="text/javascript" src="../vendor/backbone.localStorage/backbone.localStorage.js"></script>
    <script type="text/javascript" src="../vendor/jquery.avgrund/jquery.avgrund.js"></script>

    <!-- App -->
    <script type="text/javascript" src="../js/app.namespace.js"></script>
    <script type="text/javascript" src="../js/app.router.js"></script>
    <script type="text/javascript" src="../js/app.configs.js"></script>

    <!-- Utils -->
    <script type="text/javascript" src="../js/utils/utils.requestAnimationFramePolyfill.js"></script>
    <script type="text/javascript" src="../js/utils/utils.hsv2rgb.js"></script>

    <!-- Models -->
    <script type="text/javascript" src="../js/models/response.entity.model.js"></script>

    <!-- Collections -->
    <script type="text/javascript" src="../js/collections/response.entity.collection.js"></script>        

    <!-- Views -->
    <script type="text/javascript" src="../js/views/response.view.js"></script>
    <script type="text/javascript" src="../js/views/header.view.js"></script>

    <!-- Startup -->

    <script src="spec/components/responseEntity.spec.js"></script>
   


    <script src="spec/runner.js"></script>
</body>
</html>