/**
 * Components: Button
 */

button, .button {
    color: #666;
    padding: 8px 16px;
    margin: 16px 24px;
    box-sizing: border-box;
    border-radius: 15px;
    background: none;
    box-shadow: none;
    outline: none;
    border: 1px solid #efefef;
    cursor: pointer;
    @include vendor-prefix(appearance, none);
}