.avgrund-ready .modal-container {
   padding: 24px;
   box-sizing: border-box;
   box-shadow: none;
   background: none;
}

.modal {
    color: #fff;
    text-align: center;
    -webkit-font-smoothing: subpixel-antialiased;
    label {
        @extend .entity-title;
        color: #fff;
        padding: 0;
        margin-bottom: 24px;
    }
    label, input[type="text"] {
        display: block;
        width: 100%;
    }
    input, button {
        color: #fff;
        background: none;
        padding: 8px 0 8px 0;
        border: 1px solid rgba(255,255,255,0.3);
        text-align: center;
        border-radius: 15px;
        @include vendor-prefix(appearance, none);
        &:focus {
            outline: none;
            border: 1px solid rgba(255,255,255,1);
        }
    }
    input {
        margin-bottom: 48px;
    }
    input:last-of-type {
        margin-bottom: 64px;
    }
    button {
        display: inline-block;
        width: 30%;
        margin: 0 auto;
        margin-right: 4%;
        cursor: pointer;
        &:last-of-type {
            margin-right: auto;
        }
        &:hover {
            border: 1px solid rgba(255,255,255,1);
        }
    }
}

.avgrund-ready.avgrund-active .avgrund-overlay {
    opacity: 0.9;
}