/**
 * Components: Response Entity
 */

.response-entity {
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    @include vendor-prefix(transform, scale(0));
    @include vendor-prefix(transition, 0.6s ease all);
    &.visible {
        @include vendor-prefix(transform, scale(1));    
    }
}

.entity-title {
    font-family: $secondary-font-family;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
}

.orbiter-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -$response-entity-size/2;
    margin-top: -$response-entity-size/2;
    border: 1px solid #efefef;
    width: $response-entity-size;
    height: $response-entity-size;
    border-radius: 100%;
    cursor: pointer;
}

.orbiter {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -135px;
    margin-top: -10px;
    background: none;
    border-radius: 100%;
    @include vendor-prefix(transform, translateZ(0));
    @include vendor-prefix(transition, 0.25s ease transform 0.25s ease background-color);
    @include vendor-prefix(transform, scale(0.5));
}